.holidayPicker {
  text-align: center;
  font-size: 24px;
  width: 50%;
}

.holidays {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.holidaysTitle {
  margin-bottom: 50px;
}
.selectBtn {
  background: black;
}
