.header {
  text-align: center;
  font-size: 80px;
  font-family: 'Love January', sans-serif;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button:hover {
  cursor: pointer;
}
