.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

@media only screen and (max-width: 1000px) {
  .appContainer {
    height: inherit;
  }
}
