* {
  margin: 0;
  padding: 0;
  border: 1px dashed purple;
  font-family: 'Love January', sans-serif;
}
html {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: pink;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
